.modal-header-user-new {
  max-height: 56px !important;
  margin-left: 5px;
  margin-bottom: 0 !important;
}

.modal-body-new-user {
  padding-left: 21px;
  .user-message {
    font-size: @font-small;
    line-height: 14px;
    padding-bottom: 20px;
  }
  .form-container {
    .new-user {
      margin: 0;
      line-height: 10px;
      font-size: @font-medium;
      text-align: center;
      color: @color-primary;
      display: flex;
      justify-content: space-between;
      label {
        margin-top: 12px;
      }
      .input-field {
        position: relative;
        .error-msg {
          position: absolute;
          left: 10px;
          bottom: -15px;
          font-style: italic;
          font-size: @font-small;
          color: @color-danger;
        }
      }
      input,
      textarea {
        border-radius: 0;
        color: @color-xdark;
        border: 1px solid @color-medium-grey;
        background-color: transparent;
        font-size: @font-medium;
        box-shadow: none;
        height: 50px;
        resize: none;
        &:focus {
          outline: none;
          box-shadow: none;
        }
        &.user-input {
          margin-right: 20px;
          width: 420px;
          height: 40px;
          box-shadow: none !important;
          padding: 6px;
          line-height: 19px;
        }
        &.input-error {
          border: 2px solid @color-danger;
        }

        &.high {
          height: 160px;
        }
      }
      &:nth-child(2) {
        padding-bottom: 40px;
        padding-top: 40px;
      }
    }
    label {
      font-size: @font-medium;
      line-height: 16px;
      color: @color-xdark;
    }
    .user-input {
      margin-right: 20px;
      width: 420px;
      height: 40px;
    }
  }
  p {
    text-align: initial;
    line-height: 14px;
    font-size: @font-small;
    color: @color-input-msg;
  }
}
.modal-footer {
  padding: 20px !important;
  .btn {
    &.disabled {
      pointer-events: none;
      background: @color-button-disabled;
    }
  }
}
