.feed-comments {
  transform: translateX(0%);
  animation: ease-in 2s;
  min-height: 100vh;
  .loader-wrapper {
    position: absolute;
    left: 0;
    right: 0;
    top: 148px;
    margin: auto;
    .wrapper {
      .loader-1 {
        position: absolute;
        left: 0;
        right: 0;
        margin: auto;
      }
    }
  }

  .btn-loadmore {
    width: 416px;
    height: 46px;
    background-color: @color-primary;
    color: @color-white;
    margin: 0px 0px 20px 20px;
    font-size: @font-medium;
    line-height: 30px;
    border: 4px;
    font-weight: bold;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    i {
      font-size: @font-icon-xlarge;
      line-height: 42px;
    }
    &.disabled {
      background-color: @color-button-disabled;
      pointer-events: none;
    }
    &:focus {
      border: none;
      outline: none !important;
      box-shadow: none !important;
    }
    &:hover {
      background: @color-hover;
    }
  }
  &.feed-details-container {
    .comment-card {
      margin: 0 !important;
      margin-bottom: 20px !important;
      width: 100% !important;
    }
  }
  .comment-card {
    background: @color-white;
    min-height: 116px;
    width: 416px;
    margin: 20px;
    padding: 20px;
    overflow: hidden;
    border-radius: 10px;
    position: relative;

    .header {
      display: flex;
      .category {
        display: flex;
        flex-direction: row;
        width: 100%;
        .social-button {
          width: 30px;
          display: flex;
          height: 30px;
          justify-content: center;
          background: @color-primary;
          border-radius: 50%;
          align-items: center;
          padding: 0px;
          &.facebook {
            background-color: @color-facebook;
            box-shadow: 0px 0px 2px @color-facebook;
          }
          &.youtube {
            background-color: @color-youtube;
            box-shadow: 0px 0px 2px @color-youtube;
          }
          &.twitter {
            background-color: @color-twitter;
            box-shadow: 0px 0px 2px @color-twitter;
          }
          &.linkedin {
            background-color: @color-linkedin;
            box-shadow: 0px 0px 2px @color-linkedin;
          }
          &.reddit {
            background-color: @color-reddit;
            box-shadow: 0px 0px 2px @color-reddit;
          }
          &.mothership {
            background-color: @color-mothership;
          }
          &.straits_times {
            background-color: @color-straits-times;
          }
          &.south_china_morning_post {
            background-color: @color-south-china-morning-post;
            margin-bottom:10px;
          }
          &.the_guardian {
            background-color: @color-the-guardian;
          }
          &.the_independent_singapore {
            background-color: @color-the-independent-singapore;
            margin-bottom:0px;
          }
          &.the_new_york_times {
            background-color: @color-the-new-york-times;
          }
          &.the_online_citizen {
            background-color: @color-the-online-citizen;
          }
          &.today {
            background-color: @color-today;
          }
          &.channel_news_asia {
            background-color: @color-channel-news-asia;
          }
          span {
            margin: auto;
          }
          i {
            color: @color-white;
            font-size: @font-icon-small;
            line-height: 24px;
          }
        }
      }
      .card-header-right {
        font-size: @font-small;
        justify-content: flex-end;
        font-style: italic;
        display: flex;
        align-items: center;
        width: 35%;
        color: @color-dark-grey;
        text-transform: capitalize;
        label {
          margin: 0 !important;
          font-size: @font-xsmall;
        }
      }
    }
    .headline-content{
      margin-top: 20px;
      position: relative;
      word-break: break-word;
      p {
        font-size: @font-h4;
        line-height: 20px;
        margin: 0;
        font-weight: bold;
        color: @color-xdark;
        &.shrink-text-view {
          display: -webkit-box;
          -webkit-line-clamp: 2;
          -webkit-box-orient: vertical;
          overflow: hidden;
          text-overflow: ellipsis;
        }
      }
      .see-more-btn {
        position: absolute;
        font-size: @font-small;
        line-height: 18px;
        right: 0px;
        bottom: 0px;
        color: @color-primary;
        cursor: pointer;
        width: 63px;
        background: @color-white;
        text-align: end;
        &:before {
          content: '...';
          color: @color-dark-grey;
        }
        &.less {
          width: auto;
          &:before {
            content: '';
          }
        }
      }
    }
    .content {
      margin-top: 20px;
      position: relative;
      word-break: break-word;
      p {
        color: @color-dark-grey;
        font-size: @font-small;
        line-height: 18px;
        margin-bottom: 5px;
        display: block;
        width: 100%;
        margin: 0 auto;
        &.shrink-text-view {
          display: -webkit-box;
          -webkit-line-clamp: 2;
          -webkit-box-orient: vertical;
          overflow: hidden;
          text-overflow: ellipsis;
        }
      }
      .see-more-btn {
        position: absolute;
        font-size: @font-small;
        line-height: 18px;
        right: 0px;
        bottom: 0px;
        color: @color-primary;
        cursor: pointer;
        width: 63px;
        background: @color-white;
        text-align: end;
        &:before {
          content: '...';
          color: @color-dark-grey;
        }
        &.less {
          width: auto;
          &:before {
            content: '';
          }
        }
      }
    }
    &.feeds {
      color: @color-dark-grey;
      padding: 0 !important;
      display: flex;
      .feeds-description {
        padding: 20px;
        display: flex;
        position: relative;
        flex-direction: column;
        width: 100%;
        h4 {
          font-size: @font-h4;
          line-height: 20px;
          display: -webkit-box;
          -webkit-line-clamp: 2;
          overflow: hidden;
          -webkit-box-orient: vertical;
          text-overflow: ellipsis;
          margin: 0;
          font-weight: bold;
          color: @color-xdark;
          margin-bottom: 10px;
        }
        span {
          font-style: italic;
          line-height: 24px;
          font-size: @font-xsmall;
          white-space: nowrap;
        }
        p {
          color: @color-dark-grey;
          font-size: @font-small;
          line-height: 17px;
          display: block;
          overflow: hidden;
          &.shrink-text-view {
            display: -webkit-box;
            -webkit-line-clamp: 2;
            -webkit-box-orient: vertical;
            text-overflow: ellipsis;
          }
        }
        .see-more-btn {
          position: absolute;
          font-size: @font-small;
          line-height: 18px;
          right: 20px;
          bottom: 20px;
          color: @color-primary;
          cursor: pointer;
          width: 63px;
          background: @color-white;
          text-align: end;
          &:before {
            content: '...';
            color: @color-dark-grey;
          }
          &.less {
            width: auto;
            &:before {
              content: '';
            }
          }
        }
        .feeds-button {
          display: flex;
          margin-bottom: 10px;
          align-items: center;
          .social-button {
            background: @color-primary;
            min-width: 30px;
            height: 30px;
            display: flex;
            margin-right: 5px;
            border-radius: 50%;
            color: @color-white;
            justify-content: center;
            align-items: center;
            &.facebook {
              background-color: @color-facebook;
              box-shadow: 0px 0px 2px @color-facebook;
            }
            &.youtube {
              background-color: @color-youtube;
              box-shadow: 0px 0px 2px @color-youtube;
            }
            &.twitter {
              background-color: @color-twitter;
              box-shadow: 0px 0px 2px @color-twitter;
            }
            &.linkedin {
              background-color: @color-linkedin;
              box-shadow: 0px 0px 2px @color-linkedin;
            }
            &.reddit {
              background-color: @color-reddit;
              box-shadow: 0px 0px 2px @color-reddit;
            }
            &.mothership {
              background-color: @color-mothership;
            }
            &.straits_times {
              background-color: @color-straits-times;
            }
            &.south_china_morning_post {
              background-color: @color-south-china-morning-post;
              margin-bottom:10px;
            }
            &.the_guardian {
              background-color: @color-the-guardian;
            }
            &.the_independent_singapore {
              background-color: @color-the-independent-singapore;
              margin-bottom:0px;
            }
            &.the_new_york_times {
              background-color: @color-the-new-york-times;
            }
            &.the_online_citizen {
              background-color: @color-the-online-citizen;
            }
            &.today {
              background-color: @color-today;
            }
            &.channel_news_asia {
              background-color: @color-channel-news-asia;
            }
            span {
              margin: auto;
            }
          }
        }
      }
    }
    &:hover {
      box-shadow: @box-shadow-3-6-29;
    }
    &.feeds {
      min-height: 159px;
    }
    .comment-action-btn {
      position: absolute;
      display: flex;
      top: 25px;
      right: -510px;
      transition: 0.5s;
      flex-direction: row;
      .btn-relevent {
        display: flex;
        align-items: center;
        border: none;
        height: 20px;
        background: @color-button-disabled;
        padding: 4px 12px 5px 12px;
        color: @color-white;
        font-size: @font-small;
        line-height: 10px;
        transition: 0.5s;
        &:focus {
          outline: none;
        }
        &:first-child {
          border-radius: 4px 0 0 4px;
        }
        &:hover {
          background: @color-primary;
          transition: 0.5s;
          color: @color-white;
        }
        &.active {
          color: @color-white;
          background: @color-hover;
          font-weight: bold !important;
        }
      }
    }
    &:hover .comment-action-btn {
      right: 0;
      transition: 0.5s ease;
    }
  }
}
.card-header-button {
  display: flex;
  margin-right: 5px;
  align-items: center;
  button {
    border: none;
    padding: 5px 12px 4px 13px;
    height: 20px;
    line-height: 12px;
    font-size: @font-xsmall;
    color: @color-white;
    text-transform: capitalize;
    border-radius: 2px;
    &.btn-positive {
      border-radius: 2px;
    }
    &.btn-emotion {
      border-radius: 10px;
    }
    &.positive {
      background-color: @color-positive;
    }
    &.negative {
      background-color: @color-negative;
    }
    &.joy {
      background-color: @color-joy;
    }
    &.anger {
      background-color: @color-anger;
    }
    &.sadness {
      background-color: @color-sadness;
    }
    &.fear {
      background-color: @color-fear;
    }
  }
}
.feed-date {
  display: flex;
  justify-content: flex-end;
}