@import './mixins';

body {
  * {
    box-sizing: border-box;
  }
  margin: 0;
  padding: 0;
  font-family: @font-family-text;
  background: @color-light-grey;
  p {
    margin: 0 !important;
  }
  a {
    text-decoration: none;
    color: inherit;
    &:hover {
      text-decoration: none;
      color: inherit;
    }
  }

  .modal {
    &.modal-show {
      display: block !important;
      background: rgba(0, 0, 0, 0.6);
    }
    &.modal-hide {
      display: none !important;
    }
    border: none;
    .modal-dialog {
      color: @color-xdark;
      .modal-content {
        border-radius: 0 !important;
        .modal-header {
          border: none !important;
          align-items: center;
          height: 56px;
          .modal-title {
            font-weight: bold;
            font-size: @font-large;
            line-height: 12px;
          }
          i {
            cursor: pointer;
            font-size: @font-icon-large;
            color: @color-dark-grey;
            line-height: 32px;
            &:hover {
              color: @color-primary;
            }
            &.user-close {
              font-size: 28px;
              line-height: 38px;
            }
          }
        }
        .modal-body {
          // padding: 0 !important;
        }
        .modal-footer {
          border: 0 !important;
          .btn {
            width: 148px;
            height: 48px;
            font-size: @font-small;
            font-weight: bold;
            color: @color-primary;
            line-height: 30px;
            border: 2px solid @color-primary;
            background-color: @color-white;
            margin-left: 20px;
            &.btn-submit {
              background: @color-primary;
              color: @color-white;
            }
            &.btn-delete {
              background: @color-danger;
              color: @color-white;
              border: none;
              &:hover {
                background: @color-negative;
              }
            }
            &:hover {
              color: @color-white;
              background: @color-hover;
            }
            &:focus {
              outline: 0 !important;
              box-shadow: none;
            }
          }
        }
      }
    }
  }

  .select-item {
    color: @color-dark-grey;
    height: 56px;
    display: flex;
    align-items: left;
    padding: 20px 0px 21px 21px;
    &:hover {
      background: @color-primary-light;
      color: @color-primary;
      label {
        &:before {
          border: 1px solid @color-primary!important;
        }
      }
    }
    .styled-checkbox {
      position: absolute;
      opacity: 0;

      & + label {
        position: relative;
        text-transform: capitalize;
        cursor: pointer;
        font-size: @font-medium;
        line-height: 12px;
        padding: 0;
      }

      & + label:before {
        content: '';
        margin-right: 10px;
        display: inline-block;
        vertical-align: middle;
        width: 20px;
        height: 20px;
        margin-top: -2px;
        font-size: @font-medium;
        background: transparent;
        border: 1px solid @color-dark-grey;
      }
      &:disabled + label {
        color: @color-checkbox;
        cursor: auto;
      }

      &:disabled + label:before {
        box-shadow: none;
        background: @color-medium-grey;
      }

      &:checked + label:after {
        content: '\f17b';
        position: absolute;
        left: 1px;
        font-family: @font-family-icon;
        top: -2px;
        color: @color-primary;
        font-size: @font-large;
        line-height: 22px;
      }
      &:checked + label:before {
        border: 1px solid @color-primary;
      }
    }
  }
  button {
    &.positive {
      background-color: @color-positive;
    }
    &.negative {
      background-color: @color-negative;
    }

    &.joy {
      background-color: @color-joy;
      color: @color-text-joy;
    }
    &.anger {
      background-color: @color-anger;
      color: @color-text-anger;
    }
    &.sadness {
      background-color: @color-sadness;
      color: @color-text-sadness;
    }
    &.fear {
      background-color: @color-fear;
      color: @color-text-fear;
    }
  }
  button {
    &.positive {
      background-color: @color-positive;
    }
    &.negative {
      background-color: @color-negative;
    }

    &.joy {
      background-color: @color-joy;
      color: @color-text-joy;
    }
    &.anger {
      background-color: @color-anger;
      color: @color-text-anger;
    }
    &.sadness {
      background-color: @color-sadness;
      color: @color-text-sadness;
    }
    &.fear {
      background-color: @color-fear;
      color: @color-text-fear;
    }
  }

  label {
    margin-bottom: 0 !important;
  }
  .Toastify {
    .Toastify__toast-container {
      min-width: 320px !important;
      width: auto !important;
      .Toastify__toast {
        border-radius: 21px;
        box-shadow: 0px 4px 20px #00000029;
        min-height: 40px !important;
        min-width: 320px !important;
        padding-right: 30px !important;
        padding-left: 42px !important;
        max-width: auto;
        box-shadow: 0px 4px 20px;
        &.Toastify__toast--success {
          background: @color-toaster-success!important;
          .Toastify__toast-body {
            &:before {
              content: '\f17d';
              font-size: 19px;
              font-family: @font-family-icon;
              position: absolute;
              left: 20px;
            }
          }
        }
        &.Toastify__toast--error {
          background: @color-toaster-error!important;
          .Toastify__toast-body {
            &:before {
              content: '\f1ce';
              font-size: 19px;
              font-family: @font-family-icon;
              position: absolute;
              left: 20px;
            }
          }
        }
        &.Toastify__toast--warning {
          background: @color-toaster-warning!important;
        }
        &.Toastify__toast--info {
          background: @color-toaster-info!important;
        }
      }
      .Toastify__toast-body {
        font-size: @font-small;
        text-align: center;
        line-height: 9px;
      }
      .Toastify__close-button {
        opacity: 1 !important;
        content: '';
        color: transparent;
        font-weight: normal;
        outline: none;

        &:before {
          content: '\f342';
          font-family: @font-family-icon;
          position: absolute;
          color: @color-white;
          right: 21px;
          font-size: 19px;
          line-height: 25px;
        }
      }
    }
  }
}

*,
::after,
::before {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.no-data-found {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  .content {
    color: @color-xdark;
    i {
      font-size: @font-icon-xxlarge;
      line-height: 130px;
    }
    .message-title {
      font-size: @font-large !important;
      line-height: 21px !important;
      padding: 0 !important;
      margin-top: 8px !important;
      margin-bottom: 25px !important;
    }
    .message-content {
      font-size: @font-medium;
      line-height: 16px;
      text-align: center;
      width: 329px;
    }
    .btn-contact-us {
      background: transparent;
      border: 2px solid @color-primary;
      border-radius: 4px;
      height: 48px;
      color: @color-primary;
      font-size: @font-small;
      line-height: 30px;
      padding: 0 17px;
      margin-top: 38px;
      &:focus,
      &:active {
        box-shadow: none;
        outline: none;
      }
      &:hover {
        color: @color-white;
        background: @color-hover;
      }
    }
  }
}

.loader-wrapper {
  /* Loader 1 */
  .loader-1 {
    height: 32px;
    width: 32px;
    -webkit-animation: loader-1-1 4.8s linear infinite;
    animation: loader-1-1 4.8s linear infinite;
  }
  @-webkit-keyframes loader-1-1 {
    0% {
      -webkit-transform: rotate(0deg);
    }
    100% {
      -webkit-transform: rotate(360deg);
    }
  }
  @keyframes loader-1-1 {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  .loader-1 span {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    height: 32px;
    width: 32px;
    clip: rect(0, 32px, 32px, 16px);
    -webkit-animation: loader-1-2 1.2s linear infinite;
    animation: loader-1-2 1.2s linear infinite;
  }
  @-webkit-keyframes loader-1-2 {
    0% {
      -webkit-transform: rotate(0deg);
    }
    100% {
      -webkit-transform: rotate(220deg);
    }
  }
  @keyframes loader-1-2 {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(220deg);
    }
  }
  .loader-1 span::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    height: 32px;
    width: 32px;
    clip: rect(0, 32px, 32px, 16px);
    border: 3px solid @color-primary;
    border-radius: 50%;
    -webkit-animation: loader-1-3 1.2s cubic-bezier(0.77, 0, 0.175, 1) infinite;
    animation: loader-1-3 1.2s cubic-bezier(0.77, 0, 0.175, 1) infinite;
  }
  @-webkit-keyframes loader-1-3 {
    0% {
      -webkit-transform: rotate(-140deg);
    }
    50% {
      -webkit-transform: rotate(-160deg);
    }
    100% {
      -webkit-transform: rotate(140deg);
    }
  }
  @keyframes loader-1-3 {
    0% {
      transform: rotate(-140deg);
    }
    50% {
      transform: rotate(-160deg);
    }
    100% {
      transform: rotate(140deg);
    }
  }
}
