.auto-suggest-input {
  border: none;
  outline: none;
  color: @color-dark-grey;
  box-shadow: none;
  min-height: 49px;
  background: transparent;
  padding: 4px 0 0 0;
  font-size: 12px;
}
.no-suggestions {
  position: absolute;
  color: @color-danger;
  top: 35px;
}
.suggestions {
  list-style: none;
  padding: 0;
  top: 54px;
  left: 0px;
  margin: 0;
  position: absolute;
  background: @color-white;
  z-index: 999;
  max-width: 420px;
  box-shadow: 0px 3px 6px #00000029;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  max-height: 150px;
  overflow-y: auto;
  padding-left: 0;
  width: 100%;
  li {
    padding: 10px;
    cursor: pointer;
    color: @color-dark-grey;
    &:hover {
      color: @color-primary;
      background: @color-primary-light;
    }
    &.suggestion-active {
      color: @color-primary;
      background: @color-primary-light;
    }
  }
}
