@import '../../styles/mixins';
@import './navigation-bar/navigation-bar';
@import './Header/Header';
@import './Header/SelectedCategory';
@import './Calender/calender';
@import './UI-components/UI-Component';
@import './word-cloud/WordCloud';
@import './AutoComplete';

.no-topic {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  .icon-group {
    .la {
      font-size: @font-icon-xxlarge;
      line-height: 130px;
      color: @color-xdark;
    }
    margin-bottom: 5px;
  }
  h5 {
    color: @color-xdark;
    font-size: @font-large;
    line-height: 21px;
    margin-bottom: 25px;
  }
  p {
    color: @color-xdark;
    font-size: @font-medium;
    line-height: 16px;
    margin-bottom: 36px !important;
  }
  .btn-add-topic {
    line-height: 15px;
    padding: 16px 20px;
    height: 48px;
    border-radius: 4px;
    color: @color-white;
    background: @color-primary;
    font-size: @font-medium;
    font-weight: bold;
    border: none;
    &:focus {
      box-shadow: none;
      outline: none;
    }
    &:hover {
      background: @color-hover;
    }
  }
}
