.sources-container {
  .main-container {
    display: flex;
    padding: 20px 20px 20px 30px;
    position: relative;
    min-height: 620px;
    background-color: @color-white;
    margin-top: 30px;
    margin-left: 30px;
    margin-bottom: 48px;
    margin-right: 30px;
    .sub-container {
      display: flex;
      margin: 0;
      padding: 0;

      .source-content {
        margin: 0;
        padding: 0;
        .source-inner-content {
          padding: 0;
          margin: 0;
          .loader-wrapper {
            .wrapper {
              .loader-1 {
                position: absolute;
                left: 0;
                right: 0;
                margin: auto;
                top: 150px;
              }
            }
          }
          .sub-text {
            font-size: @font-medium;
            line-height: 16px;
            font-weight: bold;
            color: @color-xdark;
            margin-bottom: 30px;
          }
          padding: 0 !important;
          .select-item {
            color: @color-xdark;
            height: 40px;
            display: flex;
            align-items: left;
            padding: 0 !important;
            margin-bottom: 16px;
            label {
              &:before {
                border: 1px solid @color-medium-grey !important;
                margin-right: 12px !important;
              }
              &:after {
                color: @color-primary;
              }
            }
            &:hover {
              background: transparent;
            }
            .connection-status {
              position: absolute;
              right: 0;
              .manage-connection {
                font-size: @font-medium;
                .connection-btn {
                  color: @color-primary;
                  cursor: pointer;
                  font-size: @font-medium;
                }
                .facebook-connection-btn {
                  color: @color-primary;
                  cursor: pointer;
                  font-size: @font-medium;
                  background-color: @color-facebook2;
                  color: @color-white;
                  padding: 0.5rem;
                  font-weight: bold;
                }
              }
            }
            .styled-checkbox {
              &:checked + label {
                &:before {
                  border: 1px solid @color-primary!important;
                }
              }
            }
          }
        }
      }
    }
    .footer {
      position: absolute;
      right: 0px;
      bottom: 0px;
      padding: 20px;

      .btn {
        width: 148px;
        height: 48px;
        font-size: @font-small;
        font-weight: bold;
        color: @color-primary;
        line-height: 30px;
        border: 2px solid @color-primary;
        background-color: @color-white;
        margin-left: 20px;

        &.btn-submit {
          background: @color-primary;
          color: @color-white;
        }
        &:hover {
          color: @color-white;
          background: @color-hover;
        }
        &:focus {
          outline: 0 !important;
          box-shadow: none;
        }
      }
    }
  }
}
